body {
  font-family: "Roboto", "Montserrat", sans-serif;
  color: #434455;
}
.contacts-link {
  color: #434455;
  font-style: normal;
}
.page-tittle {
  color: white;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  text-align: center;
}
.tittle-background {
  background-color: #2e2f42;
}
button {
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.nav-menu {
  font-family: "Roboto", "Montserrat", sans-serif;
  color: #434455;
  text-decoration: none;
}
a {
  text-decoration: none;
}
